/node_modules

.env
.env.*
.vault

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/coverage
/.nyc_output

/dist
/build
.npm
.eslintcache

.DS_Store

.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

.idea/

Thumbs.db
